<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
    <style>
        body{
           background: linear-gradient(80deg, #63b6f5, #2822ef);
        }
        h1{
            color:yellow;
            text-shadow: 0 0 5px white;
            font-size:3rem;
            text-align: center;
            justify-content: center;
        
        }
    </style>
</head>
<body> 

<h1>Attendance Submitted Successfully.</h1> 
<br>
<button><a href="student_dashbord.html">Go to dashbord </a>
</button>
</body>
</html>